.spectrum-mini-map-canvas {
    width: 100%;
    position: relative;
    overflow-x: scroll;
    z-index: 10;
}

.spectrum-mini-map {
    width: 100%;
    min-width: 1000pt;
    cursor: pointer;

    img {
        height: 30pt;
    }

    .spectrum-mini-map-loc {
        position: absolute;
        width: 30pt;
        top: 0;
        opacity: 0.5;
        background-color: white;
        height: 100%;
    }

    .spectrum-mini-map-tile {
        font-size: 8pt;
        border: solid 1pt black;
    }
}

.spectrum-mini-map::-webkit-scrollbar {
    display: none;
}
