.sg-grid-container {
    width: 100%;
    overflow: scroll;
}

.sg-grid {
    clear: both;
    overflow: scroll;
    width: 1100pt;
}

.drillisch {
    background-color: #004490;
}

.vodafone {
    background-color: #e00201;
}

.telefonica {
    background-color: #003145;
}

.telekom {
    background-color: #e10075;
}