.sg-grid {
    clear: both;
    overflow: hidden;
}

.drillisch {
    background-color: #004490;
}

.vodafone {
    background-color: #e00201;
}

.telefonica {
    background-color: #003145;
}

.telekom {
    background-color: #e10075;
}